body {
  background: #000;
  font: normal 26pt Determination Sans Web;
}
h3{
  color: #fff;
  text-align: center;
  
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctn{
  display: flex;
  align-items: center;
  justify-content: center;
}
#score {
  color: #fff;
  font-size: 5vh;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 4px solid white;
}

.grid div {
  height: 20px;
  width: 20px;

}

.tetromino {}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  color: #fff;
}

#pause, #start {
  border: 4px orange solid;
  height: 50px;
  width: 100px;
  background-color: black;
  color: orange;
  font-size: 2vh;
  margin-left: 20px;
  font: normal 26pt Determination Sans Web;
}

